@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  /* アコーディオンUIのスタイル */
  .accordion-details summary::-webkit-details-marker {
    display: none;
  }
  
  .accordion-details[open] .accordion-icon {
    transform: rotate(180deg);
  }
}
